* {
  display: block;
}

span {
  display: inline;
}

html {
  width: 600px;
  padding: 10px;
  border-width: 1px;
  margin: auto;
  background: #ffffff;
}

head {
  display: none;
}

.outer#special {
  width: 100px;
  height: 100px;
  background: #ccccff;
  border-width: 2px;  
  border-color: #666666;
}

.inner#specialbye {
  background: #ff3300;
}

.outer {
  background: #00aaff;
  border-color: #666666;
  border-width: 2px;
  margin: 5px;
  padding: 5px;
}

.inner {
  border-color: #cc0000;
  border-width: 4px;
  height: 14px;
  margin-bottom: 5px;
  width: 5px;
}

.inner#bye {
  background: #ff3300;
}

span#name {
  background: red;
  color: white;
}
